/* FriendList.module.css */

.list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 20px auto;
    max-width: 800px;
  }
  
  .card {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 5px ;
    text-align: center;
    width: 100px;
    margin: 0 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  


  .name {
    font-size: 1.4em;
    margin: 10px 0 ;
    font-weight: 600;
  }
  
  .online {
    color: green;
    font-size: 1.2em;
   
  }
  
  .offline {
    color: red;
    font-size: 1.2em;
    
  }
  